html, body {
	margin: 0; 
	padding: 0;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: #dddddd;
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
}

#fullelement {
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-template-rows: 60fr 30fr 10fr;
    width: 100%;
    height: 100%;
    grid-gap: 2px;
}

#textPanel {
    font-size: 1.7vw;
    border: none;
    overflow: auto;
    outline: none;
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #eeeeee;
    resize: none;
    overflow-y: auto;
}

#bottomPanel {
    font-size: 1.5vw;
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: #eeeeee;
    overflow-y: auto;
}

#sparePanel {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #eeeeee;
}

#tokenPanel {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #eeeeee;
}

.hidden {
    display: none !important;
}

#options {
    height: 100vh;
    margin: 1em;
    overflow-y: scroll;
    font-size: 1.5vw;
    overflow-x: scroll;
	overflow-y: scroll;
}

.response {
    margin: 0.5em;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    white-space: pre-wrap;
    background-color: #ffffff00;
}

.response:nth-of-type(odd) {
    background-color: #eeeeee00;
}

.response:nth-of-type(even) {
    background-color: #e1e1e1ff;
}

.response:hover {
    color: rgb(16,16,16);
    box-shadow: 0px 0px 10px white;
    background-color: white;
}


#buttonRow {
    grid-column-start: 1;
    grid-row-start: 3;
	width: 100%;
    margin: 2px;
    text-align: center;
    display: table;
    vertical-align: middle;
    border-spacing: 2px;
}

.normalbutton { 
  display: table-cell;
  text-align: center;
  width: 18%;
  padding: 4px;
  background-color: #333333;
  color: white;
  text-decoration: none;
  font-size: 2vw;
  cursor: pointer;
  vertical-align: middle;
    
}

.fulltext {
    display: none;
}



.activated {
    background-color: #333399;
    box-shadow: 0px 0px 4px white;
}

#tokenpanel {
    grid-column-start: 2;
    grid-row-start: 1;
    overflow: auto;
}

#tokenPanel table {
    display: table;
    table-layout: fixed;
    border: 1px solid black;
    width: 100%;
}

#tokenPanel td, th {
    font-size: 1.5vw;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

#tokenPanel tr td {
    position: relative;
    max-width: 0;
    height: 1em;
    z-index: 0;
}

#tokenPanel td:hover {
    color: rgb(16,16,16);
    background-color: black;
    box-shadow: 0px 0px 10px white;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.percentbar {
    position: absolute;
    background-color: #d1d1d199;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    z-index: -1;
}

#bottomPanel div.response span:hover {
    box-shadow: 0px 0px 4px black;
    transition: all 0.05s ease-in-out;
}

.waiting {
    background-color: black;
}
