<html lang="en">
  <head>
    <title>Mimitext</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width, initial-scale=1">
    <script type="text/javascript" src="./index.js" charset="utf-8"> </script>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./custom.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
  
  <body>
    <div id="options" class="hidden">
      <div id="exitOptionsButton" class="normalbutton">Exit Options</div><br><br>
      <div>Generation options. Passed to the model each time responses are requested.</div><br>
      <form>
	<label for="autogen">Autogenerate: Repeat generation up to x times</label><br>
	<input type="number" id="autogen" name="autogen" step=1 value=1><br>
	
	<label for="cTemperature">Temperature (Randomness)</label><br>
	<input type="number" id="cTemperature" name="cTemperature" step=0.1 value=0.5><br>
	
	<label for="numResponses">Number of Responses</label><br>
	<input type="number" id="numResponses" name="numResponses" step=1 value=1><br>
	
	<label for="responseLength">Response Length</label><br>
	<input type="number" id="responseLength" name="responseLength" step=1 value=40><br>
	
	<label for="top_p">top_p (nucleus) sampling</label><br>
	<input type="number" id="top_p" name="top_p" step=0.01 value=1><br>
	
	<label for="top_k">top_k sampling</label><br>
	<input type="number" id="top_k" name="top_k" step=1 value=0><br>
	
	<label for="repetition_penalty">Repetition Penalty (1=disabled)</label><br>
	<input type="number" id="repetition_penalty" name="repetition_penalty" step=0.05 value=1><br>
	
	<label for="num_beams">num_beams: for Beam Search (1=disabled)</label><br>
	<input type="number" id="num_beams" name="num_beams" step=1 value=1><br>
    </div>
    <div id="fullelement">
      <textarea id="textPanel"></textarea>
      <div id="tokenPanel"></div>
      <div id="bottomPanel"></div>
      <div id="sparePanel"></div>
      
      
      <div id="buttonRow">
	<div id="genButton" class="normalbutton">Generate</div>
	<div id="optionsButton" class="normalbutton">Options</div>
	<div id="clearButton" class="normalbutton">Clear</div>
	<div id="pickgenButton" class="normalbutton">Quickgen</div>
	<div id="swapmodeButton" class="normalbutton">Token Mode</div>
      </div>
    </div>
  </body>
</html>
